{% extends "base.html" %}

{% block title %}{% if servidor %}Editar{% else %}Novo{% endif %} Servidor{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="h4 mb-3">{% if servidor %}Editar{% else %}Novo{% endif %} Servidor</h1>
            <form method="post" class="card card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <a class="btn btn-link" href="{% url 'servidores_list' %}">Voltar à lista</a>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
